# SmartOffice Configuration

SMARTOFFICE_BASE_URL=http://65.2.70.49
SMARTOFFICE_API_KEY=385619062612

# Device Details
SMARTOFFICE_SERIAL_NUMBER=AMDB24033100180

# Default Date Range (optional)
SMARTOFFICE_FROM_DATE=2026-06-10
SMARTOFFICE_TO_DATE=2026-06-12

# Database
# DATABASE_URL=postgresql://user:password@localhost:5432/institute_db
